body {
    font-family: 'Times New Roman', Times, serif;
    background-color:rgb(2, 2, 21);
    color: #ffffff;
    padding-top: 70px; /* Adjust according to the height of your navbar */
    font-size: 18px;
  }
  
  .surgeries-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #1b1e1f;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
  }
  
  .surgeries-table {
    width: 100%;
    border-collapse: collapse;
    color: #ffffff;
  }
  
  .surgeries-table th,
  .surgeries-table td {
    padding: 10px;
    border: 1px solid #333;
    text-align: left;
  }
  
  .surgeries-table th {
    cursor: pointer;
    background-color: #2b2d2e;
  }
  
  .surgeries-table th:hover {
    background-color: #3b3d3e;
  }
  
  .surgeries-table tbody tr:nth-child(even) {
    background-color: #2b2d2e;
  }
  
  .surgeries-table tbody tr:hover {
    background-color: #3b3d3e;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
  }
  .toggle-bar {
    cursor: pointer;
    font-size: 3em;
    margin-bottom: 10px;
    background-color: #007bff;
    font-style: italic;
    font: 1.5em Times;
  }
  