body {
  background-color: #181A1B;
  color: #ffffff; /* White text color for better readability */
}

.sign-up-link {
  text-decoration: none;
  color: #007bff;
}

.sign-up-link:hover {
  text-decoration: underline;
}
.auth-link {
  text-decoration: none;
  color: #007bff;
}

.auth-link:hover {
  text-decoration: underline;
}

body {
  padding-top: 70px; /* Adjust according to the height of your navbar */
}

.container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.custom-navbar {
  background-color: #1b1e1f !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px !important;
}

.custom-navbar .nav-link,
.custom-navbar .navbar-brand,
.custom-navbar .bi-bag {
  color: #fff !important;
}

.custom-navbar .btn-outline-secondary {
  border-color: #fff !important;
  color: #fff !important;
}

.custom-navbar .btn-outline-secondary:hover {
  background-color: #fff !important;
  color: #1b1e1f !important;
}

.custom-navbar .btn-dark {
  background-color: #fff !important;
  color: #1b1e1f !important;
  border-color: #fff !important;
}

.custom-navbar .btn-dark:hover {
  background-color: #1b1e1f !important;
  color: #fff !important;
  border-color: #1b1e1f !important;
}

.signin-container {
  background-color: #181A1B;
  color: #ffffff;
}

.signin-card {
  background-color: #181A1B;
  color: #ffffff;
  border: none;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); /* Light white shadow */
}

.signin-link {
  text-decoration: none;
  color: #007bff; /* Bootstrap blue color for links */
}

.signin-link:hover {
  color: #0056b3; /* Darker blue on hover */
}

.containerColor {
  background-color: #181A1B;
  color: #ffffff;
}

.cardcolor {
  background-color: #181A1B;
  color: #ffffff;
  border: none;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); /* Light white shadow */
}

.cardcolor .form-control {
  background-color: #333;
  color: #ffffff;
}

.cardcolor .form-control::placeholder {
  color: #aaaaaa;
}

.cardcolor .form-label {
  color: #ffffff;
}

.cardcolor .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.cardcolor .btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.cardcolor .nav-link {
  color: #007bff;
}

.cardcolor .nav-link:hover {
  color: #0056b3;
}

.bottommrgn {
  margin-bottom: 1rem;
}

.no-arrow .dropdown-toggle::after {
  display: none;
}


.cardcolor {
  /* background-color: #f8f9fa; */
  /* border: 1px solid #dee2e6; */
  border-radius: 0.25rem;
  padding: 2rem;
}

.signin-container {
  /* background-color: #ffffff; */
  /* border: 1px solid #ced4da; */
  border-radius: 0.25rem;
}
