.sign-up-link {
  text-decoration: none;
  color: #007bff;
}

.sign-up-link:hover {
  text-decoration: underline;
}
.auth-link {
  text-decoration: none;
  color: #007bff;
}

.auth-link:hover {
  text-decoration: underline;
}

body {
  padding-top: 70px; /* Adjust according to the height of your navbar */
}

.container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}